.webuploader-container{position:relative}.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}.webuploader-pick{position:relative;display:inline-block;cursor:pointer;color:#fff;text-align:center;overflow:hidden}
.css_cb8ae0124_0d28{height:88px}


.cyll{font-size:14px;width:987px;height:30px;line-height:30px;margin:10px auto 0;text-align:center;background-color:#fff}

.cyll span{margin-right:10px}

#footer{width:100%;margin-top:30px;background: #333;padding:24px 0}
#footer p{text-align:center;color:#c3c3c3;line-height:30px}
#footer p a{color:#c3c3c3;margin-left:12px}
#footer p a:hover{color:#fff}

.yiir{
	margin: auto;
	width: 1002px;
	height: 1300px;
	left: 50%;
}

