@charset 

.clearfix{zoom:1}body{background:#f3f2f1;font-size:14px;font-family:"微软雅黑"}

a{color:#504343;text-decoration:none}
a:hover{color:#eb6a01;text-decoration:underline}

.zhutikuang{width:987px;background-color:#fff;margin:20px auto 0;min-height:149px;position:relative}
.zhutikuang .tab{width:987px;height:37px;border-bottom:1px solid #e9e9e9}
.zhutikuang .tab span{float:left;line-height:37px;width:100px;text-align:center;font-size:15px;background-color:#b9282f;color:#fff;font-weight:bold}
.zhutikuang .tab ul li{float:left;height:36px;padding:0 24px;line-height:36px;font-size:14px;color:#000;overflow:hidden;cursor:pointer}
.zhutikuang .tab ul li:hover{color:#b9282f}
.zhutikuang .tab ul li.current{background-color:#fff;color:#b9282f;font-weight:bold;border-bottom:1px solid #b9282f}
.zhutikuang .sites-details div{display:none}
.zhutikuang .sites-details div.show{display:block}
.zhutikuang .sites-details div .ul-content li{float:left;width:140px;height:36px;line-height:36px;text-align:center;font-size:14px;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.zhutikuang .sites-details div .ul-content li.important a{color:#e13f3f;font-weight:bold}
.zhutikuang .sites-details div .ul-content li a{display:block}
.zhutikuang .sites-details div .ul-content li a:hover{color:#b9282f;background-color:#fbfbfb;text-decoration:underline}
.zhutikuang .sites-details div .ul-content li.small-category{background:url("../images/xiaofenlei.gif")/*tpa=http://www.5ciy.com/images/xiaofenlei.gif*/ no-repeat 24px -1px;color:#e13f3f}

.notice{
	font-size: 14px;
	width: 987px;
	height: 150px;
	line-height: 30px;
	margin: 10px auto 0;
	text-align: center;
	background-color: #fff
}

.notice span{margin-right:10px}

.recommend{width:987px;background-color:#fff;margin:10px auto 0}
.recommend .rec-left{width:252px;height:282px;float:left}
.recommend .rec-left img{width:252px;height:282px}
.recommend .rec-right{
	float: left;
	margin-left: 7px;
	width: 988px;
	position: relative
}
.recommend .rec-right .small-item{
	float: left;
	width: 320px;
	height: 180px;
	position: relative
}
.recommend .rec-right .small-item+.small-item{margin-left:7px}

.recommend .rec-right .rec-right-bottom{margin-top:12px}
